include pug/libs/_libs

doctype html
html(lang='en')
   include pug/_head
   body
      .wrapper
         header.header
            a(href="#").header__logo Damadams
            nav.header__menu
               a.header__menu_active(href="#") Home 
               a(href="#") About
               a(href="#") Latest Works
               a(href="#") Testimonials
               a(href="#") Contacts
            nav.burger.hide
               a(href="#") 
                  i.fa.fa-bars.burger__icon
         main.main
            section.about1

            section.about2
               .about2__picture 
                  img.about2__img(src="./images/about2-pic.jpg", alt="About Me")
               .about2__text
                  .about2__title I am a creative Graphic & UI Designer
                  .about2__description I’m a Graphics Designer,Designng has become my everyday affair. masting styles,grids cant be less interesting,Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .about2__buttons
                     a.about2__button.button(href="") Download CV
                     a.about2__button.button(href="") View Portfolio
                  .about2__tools
                     .about2__tool.tool
                        .tool__icon
                        .tool__line 
                        span 
            section.numbers
               .numbers__items
                  .numbers__item <span>81</span> happy customers
                  .numbers__item <span>97+</span> completed projects
                  .numbers__item <span>50</span> awards won
            section.projects 
               .projects__title.title Latest work
               .projects__items 
                  .projects__item.project 
                     a(href="#")
                        img.project__img(src="./images/work-1.jpg", alt="Work 1")
                     p.project__title Project title
                     p.project__desc UI, Art drection
                  .projects__item.project 
                     a(href="#")
                        img.project__img(src="./images/work-2.jpg", alt="Work 2")
                     p.project__title Project title
                     p.project__desc UI, Art drection
                  .projects__item.project 
                     a(href="#")
                        img.project__img(src="./images/work-3.jpg", alt="Work 3")
                     p.project__title Project title
                     p.project__desc UI, Art drection
                  .projects__item.project 
                     a(href="#")
                        img.project__img(src="./images/work-4.jpg", alt="Work 4")
                     p.project__title Project title
                     p.project__desc UI, Art drection
                  .projects__item.project 
                     a(href="#")
                        img.project__img(src="./images/work-5.jpg", alt="Work 5")
                     p.project__title Project title
                     p.project__desc UI, Art drection
                  .projects__item.project 
                     a(href="#")
                        img.project__img(src="./images/work-6.jpg", alt="Work 6")
                     p.project__title Project title
                     p.project__desc UI, Art drection

            section.testimonials 
               .testimonials__body.testimonial 
                  .testimonial__items
                     img.testimonial__avatar(src="./images/avatar.png", alt="About Me")
                     .testimonial__name Adams Ademola
                     .testimonial__status Happy Client
                     .testimonial__text “Everyone working in the office is very knowledgeable about all types of dental work and options for your individual needs.”
                     .testimonial__rating.rating 
                     i.fa.fa-star.rating__star_active
                     i.fa.fa-star.rating__star_active
                     i.fa.fa-star.rating__star_active
                     i.fa.fa-star.rating__star 
                     i.fa.fa-star.rating__star 



            section.contacts




         footer.footer


